{% extends "base.html" %}
{% load static %}

{% block title %}Réinitialisation de mot de passe - ChillNow{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header border-bottom border-secondary">
                    <h3 class="mb-0">Réinitialisation de mot de passe</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Entrez votre adresse e-mail et nous vous enverrons les instructions pour réinitialiser votre mot de passe.</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-4">
                            {{ form.email.errors }}
                            <label for="id_email" class="form-label">Adresse e-mail</label>
                            <input type="email" name="email" class="form-control" id="id_email" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Réinitialiser mon mot de passe</button>
                        </div>
                    </form>
                    <div class="mt-3 text-center">
                        <a href="{% url 'dashboard:login' %}" class="text-warning text-decoration-none">Retour à la connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 